.kontakt-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 30px 0;
}

.team-card {
    padding: 20px;
    text-align: center;
    width: 250px;
}


.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid gray;
}

.rover{
    border: 3px solid #e2062c;

}

.ranger{
    border: 3px solid #9f00c5;

}


.team-card .name {
    color: var(--slsk-dark-blue);
    font-size: 1.4rem;
    margin: 0 0 5px 0;
    font-weight: 800;
}
.team-card .full-name {
    color: var(--slsk-dark-blue);
    font-size: 1.2rem;
    margin: 0 0 5px 0;
    font-weight: 600;
}

.team-card .role {
    color: var(--text-dark);
    font-weight: 600;
    margin: 0 0 20px 0;
    font-size: 1rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.team-card a {
    color: var(--slsk-light-blue);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s;
}

.team-card a:hover {
    color: var(--slsk-yellow);
}

.info-section {
    background-color: var(--white);
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    margin-top: 60px;
}

.info-section p {
    color: var(--text-dark);
    line-height: 1.8;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .info-section {
        padding: 20px;
    }
}